<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Spring Boot Movie CRUD</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap/css/bootstrap.css}">

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<style type="text/css">
body .container {
	padding-top: 20px;
}
</style>






<script src="https://code.jquery.com/jquery-3.5.0.min.js"
	integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>


</head>
<body>

	<div class="container">

		<div class="jumbotron d-flex justify-content-center mb-3 pt-4" style="height: 100px">
			<h2>Spring Boot Movie CRUD</h2>
		</div>


		<div class="row justify-content-center">
		
			<form class="form-horizontal w-50" method="post"
			th:action="@{/update}"
				th:object="${movie}"
				>
				<input type="hidden" th:field="*{id}">
			<h2 class="text-center">Update Form</h2>
			
				<div th:if="${success}"
					class="alert alert-success alert-dismissible">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<h5>
						<i class="icon fas fa-check"></i> Alert!
					</h5>
					<span th:text="${success}"></span>
				</div>

				<div th:if="${failed}"
					class="alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<h5>
						<i class="icon fas fa-check"></i> Alert!
					</h5>
					<span th:text="${failed}"></span>

				</div>

				<div th:if="${#fields.hasAnyErrors()}"
					class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                  	<table th:each="var : ${#fields.allDetailedErrors()}">
					<tr>
					<tr>
					<td th:text="'Field ' + ${var.getFieldName()} + ' ' + ${var.getMessage()}"></td>
					<tr>
					</tr>
					</table>
				</div>

					<div class="form-group row">
						<label class="col-sm-3 form-label"> Movie Name </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" th:field="*{name}">
							
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 form-label"> Genre </label>
						<div class="col-sm-7">
							<select name="genre">
								<option value="horror" th:field="*{genre}" th:if="*{genre} == 'horror' ? checked : ''">Horror</option>
								<option value="comedy" th:field="*{genre}" th:if="*{genre} == 'comedy' ? checked : ''">Comedy</option>
								<option value="romance" th:field="*{genre}" th:if="*{genre} == 'romance' ? checked : ''">Romance</option>
								<option value="action" th:field="*{genre}" th:if="*{genre} == 'action' ? checked : ''">Action</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 form-label"> Release Year </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" th:field="*{year}" required="required" th:value="${movie.year}">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 form-label"> Remake </label>
						<div class="col-sm-7">
							<label class="radio-inline"> 
							<input type="radio" name="remake" value="yes" th:field="*{remake}" th:if="*{remake} == 'yes' ? checked : ''"> Yes
							</label> 
							<label class="radio-inline"> 
							<input type="radio" name="remake" value="no" checked="checked" th:field="*{remake}" th:if="*{remake} == 'no' ? checked : ''"> No
							</label>

						</div>
					</div>

					<div class="form-group row">

						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>

					</div>
			</form>

		</div>

	</div>
</body>
</html>
