<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Title</title>

<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<style type="text/css">
body .container {
	padding-top: 20px;
}
</style>






<script src="https://code.jquery.com/jquery-3.5.0.min.js"
	integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script src="BOOTSTRAP/js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>


</head>
<body>
	<div class="container">

		<div class="jumbotron d-flex justify-content-center">
			<h2>Spring Boot Movie CRUD</h2>
		</div>


		<div class="row justify-content-center">

			<form class="form-horizontal w-50" action="/addmovie">

				<div class="form-group row">
					<label class="col-sm-3 form-label"> Movie Name </label>
					<div class="col-sm-7">
						<input type="text" class="form-control" name="name">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 form-label"> Genre </label>
					<div class="col-sm-7">
						<select name="genre">
							<option value="horror">Horror</option>
							<option value="horror">Comedy</option>
							<option value="horror">Romance</option>
							<option value="horror">Action</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 form-label"> Release Year </label>
					<div class="col-sm-7">
						<input type="text" class="form-control" name="year">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 form-label"> Remake </label>
					<div class="col-sm-7">
						<label class="radio-inline"> <input type="radio"
							name="remake" value="yes"> Yes
						</label> <label class="radio-inline"> <input type="radio"
							name="remake" value="no"> No
						</label>

					</div>
				</div>

				<div class="form-group row">

					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>

				</div>

			</form>

		</div>


		<div class="row mt-3 justify-content-center">

			<div class="w-100">
				<table id="example" class="table table-striped table-bordered">
			</div>


			<thead>

				<tr>

					<th>No</th>
					<th>Name</th>
					<th>Genre</th>
					<th>Year</th>
					<th>Remake</th>

				</tr>

			</thead>

			<tbody>

				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>



			</tbody>



			</table>

		</div>

	</div>
</body>
</html>
